﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Create-section" class="col-md-12">
    <header class="row">
        <div class="col-md-12">
        <h2 class="text-center">Create a Person</h2>
        </div>
    </header>
    <article class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/Home/Create">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName"/>
                </div>

                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName"/>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName"/>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" name="gender">
                        <option value="">Select Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="form-control" name="birthDate"/>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </article>
</section>