﻿@model IEnumerable<Person>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home-section" class="col-md-12">
    <header class="row">
        <div class="col-md-12">
            <h2 class="text-center">Behold the People</h2>
        </div>
    </header>

        <article class="row">
            <div class="col-md-8 offset-md-2">
                @if (Model != null && Model.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th class="text-center">Edit</th>
                            </tr>
                        </thead>

                        <tbody>
                            @*Displays the table data*@
                            @foreach (var person in Model)
                            {
                                <tr>
                                    <td>@person.FirstName</td>
                                    <td>@person.MiddleName</td>
                                    <td>@person.LastName</td>
                                    <td>@person.BirthDate.ToShortDateString()</td>
                                    <td>@person.Gender</td>
                                    <td class="text-center">
                                        @Html.ActionLink("Update", "Update", "Home", new { id = person.Id }, new { @class = "btn btn-success", title = "Update Person" }) &nbsp;&nbsp;
                                        @Html.ActionLink("Delete", "Delete", "Home", new { id = person.Id }, new { @class = "btn btn-danger", title = "Delete Person" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="text-center">No People Found</p>
                }
            </div>
        </article>
    </section>