﻿@model Person

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
}
<section id="Update-section" class="col-md-12">
    <header class="row">
        <div class="col-md-12">
            <h2 class="text-center">Update the Person</h2>
        </div>
    </header>
    <article class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/Home/Update">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control"})
                </div>

                <div class="form-group">
                    <label for="middleName">Middle Name:</label>
                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="gender">Gender:</label>
                    @Html.DropDownListFor(m => m.Gender, new SelectListItem[] {
                       new SelectListItem() { Text = "Select Gender", Value = "" },
                       new SelectListItem() { Text = "Male", Value = "Male" },
                       new SelectListItem() { Text = "Female", Value = "Female" }
                   }, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="birthDate">Birth Date:</label>
                    <input class="form-control" type="date" name="birthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")" />
                    
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </article>
</section>